[submodule "external_submodules/freetype2"]
	path = external_submodules/freetype2
	url = https://git.savannah.nongnu.org/git/freetype/freetype2.git
[submodule "external_submodules/glfw"]
	path = external_submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "external_submodules/glm"]
	path = external_submodules/glm
	url = https://github.com/g-truc/glm
[submodule "external_submodules/glslang"]
	path = external_submodules/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "external_submodules/stb"]
	path = external_submodules/stb
	url = https://github.com/nothings/stb
